
/*yellow on black */
body, a{
	color: yellow;
	background-color: black
}



.backLinkDiv{
	background-color: yellow;
}

 a.backLink{
	color:black;
	background-color: yellow;
}

.share-buttons a {
	color:black;
	background-color: yellow;
	
}



