/*black on yellow */
body, a{
	color: black;
	background-color: yellow;
}



.backLinkDiv{
	background-color: black;
}

 a.backLink{
	color:yellow;
	background-color: black;
}

.share-buttons a {
	color:yellow;
	background-color: black;
	
}

