body, a{
	color: orange;
	background-color: black;
}



.backLinkDiv{
	background-color: orange;
}

 a.backLink {
	color:black;
	background-color: orange;
}

.share-buttons a {
	color:black;
	background-color: orange;
	
}

