body{
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
    text-align: center;
}


br{
clear: both;
}

h1{
	text-align: center;
}

.wrapperDiv{
	width: 100%;
	margin: 0 auto;

}

#headerDiv{
font-size: 5em;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
width:100%;
margin-bottom: -20px;
}

button:focus {
outline: red solid 5px;
}


#buttonvBarDiv {
text-align: center;
}

.buttonClass{
padding: 15px;	
font-size: 3em;
font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
width:13%;
border: 2px solid grey; 
}
#button1{
background-color: yellow;
color: black;

}
#button2{
background-color: black;
color: yellow;	
}
#button3{
background-color: white;
color: black;	
}
#button4{
background-color: black;
color: orange;
}
#button5{
background-color: black;
color: white;
}
#button6{
background-color: black;
color: white;
}
#button7{
background-color: black;
color: white;
}

#showcaseDiv{
text-align: center;
width:100%;
}
/*for 2 columms --- set to 33% for 3 columns*/
.appDiv{
	width: 50%;	
	float:left;
	padding-bottom: 50px;
}



img.mainPage{
 width: 95%;
 border: 5px solid grey;
}



div.shareDivBar{
	padding-top:30px;
	padding-bottom: 30px;
	text-align: center;
    width:100%;

}

div.shareDiv{
	width: 33%;	
	float:left;
}










/*product pages*/

img.appPage{
	width:100%;
	border: 5px solid grey;
}
.downloadDiv{
	width:100%;
	text-align: center;
}
.DLfromAppStoreImg{
	
	border: 2px solid grey;
	border-radius: 15px;
	width:400px;	
}






/*IT IS VERY IMPORTANT TO MAKE THE WEBPAGE SINGLE STACK otherwise the button font and link font will clip when largest size is choosen*/

/*any device size below 100 is single stacked.....everything else is 100% for max clarity*/

/*iphone portrait*/

@media screen 
and (max-width: 500px) 
and (-webkit-min-device-pixel-ratio : 1){
   


.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.buttonClass, .appDiv, div.shareDiv{
        width:100%;   
        float:none;
    }
    
    div.shareDiv{padding-bottom: 20px;}
}

@media screen 
and (max-width: 500px)  
and (-webkit-min-device-pixel-ratio : 2) {

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

   
.buttonClass, .appDiv, div.shareDiv{
        width:100%;   
        float:none;
    }
    
    div.shareDiv{
    	padding-bottom: 20px;
    }
}

@media screen 
and (max-width: 1000px) 
and (-webkit-min-device-pixel-ratio : 1){
   
.buttonClass, .appDiv, div.shareDiv{
        width:90%;   
        float:none;
    }
    
    div.shareDiv{padding-bottom: 20px;}
}

@media screen 
and (max-width: 1000px)  
and (-webkit-min-device-pixel-ratio : 2) {
   
.buttonClass, .appDiv, div.shareDiv{
        width:90%;   
        float:none;
    }
    
    div.shareDiv{
    	padding-bottom: 20px;
    }
}




@media screen 
and (min-width: 1800px)  
and (-webkit-min-device-pixel-ratio : 1) {
   
.wrapperDiv{

	width:80%;
	margin: auto;
}

}


@media screen 
and (min-width: 1800px)  
and (-webkit-min-device-pixel-ratio : 2) {
   
.wrapperDiv{

	width:80%;
	margin: auto;
}
}



















